@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap');

*{
    font-family: 'Poppins',sans-serif;

}
.alll{
    position: absolute;
    top: 70px;
    right: -130%;
    width: 600px;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 30px;
    background: rgba(235,242,255,255);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
h1{
    margin: 0 0 10px;
    padding: 0;
    color: black;
    font-size: 20px;
}
.boox{
    position: absolute;
    top: 10px;
    left: 100px;
    width: 400px;
    height: 150px;
}
input
{
    position: relative;
    display: inline-block;
    font-size: 10px;
    box-sizing: border-box;
    transition: .5s;  
}
#id{
    visibility: hidden;
}
input[type="text"]
{
    background: transparent;
    border: 2px solid rgba(78,145,254,255);
    padding: 0 25px;
    width: 350px;
    height: 30px;
    outline: none;
    border-radius:25px 0 0 25px;
}
input[type="button"]
{
    position: relative;
    left: -5px;
    border-radius:0 25px 25px 0;
    height: 30px;
    width: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background: rgba(78,145,254,255);
    color: black;
}
input[type="button"]:hover
{
    color: rgb(85, 85, 100);
}
.boox span {
    position: absolute;
    left: 30px;
    padding: 8px;
    pointer-events: none;
    font-size: 10px;
    color: black;
    transition: 0.5s;
 }
 .boox input[type="text"]:valid ~ span, 
 .boox input[type="text"]:focus ~ span 
 {
    color: rgba(78,145,254,255);
    transform: translateX(7px) translateY(-10px);
    font-size: 10px;
    padding: 0 2px;
    background: rgba(78,145,254,255);
    border: 1px solid rgba(78,145,254,255);
    border-radius: 10px;
    color: black;
 }
 /* table */

 table{
    width: 50px;
    font-size: 10px;
    border-collapse: collapse;
    background: rgba(235,242,255,255);
    border-radius: 30px;
    position: absolute;
    top: 120px;
    right: 85px;
 }
 #pen{
    position: relative;
    left: -40px;
    top: 25px;
    z-index: -1;
    opacity: 0;
 }
 td,th {
    padding: 20px 40px;
    text-align: center;
 }
thead{
    background: rgba(78,144,253,255);
}
th:first-child{
    border-radius: 20px 0 0 0;
}
th:last-child{
    border-radius: 0 20px 0 0;
}
tbody:nth-child(even){
    background: #94bade;
}

i{
    cursor: pointer;
}
td:nth-child(4){
    letter-spacing: 10px;
}
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(78,145,253,255);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }